/*CSS for Ms. Blue Sky Wedding Site Theme2*/
/*use with NewIndex2/4/5/6 and 7 .htmls for a multi-page layout*/

* {
  padding: 0;
  margin: 0;
}

body, html
 {
/*background-color: rgba(20, 0, 0, 0.3);*/

  margin: 0;
  padding-top: 0px;
  font-weight: normal;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  
background-image: url("https://images.pexels.com/photos/169192/pexels-photo-169192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.png");
 
  background-repeat: no-repeat;
background-position:  left center;
  background-attachment: fixed;
   background-size: cover;

}



/*clear pink behind main part of all pages*/
.container{
background-color: rgba(138, 21, 97, 0.50);
	color: white;

}

/*Extra, un-used div at top of container, colored to match the part of the container under the top navbar*/
/*.veryTop {
	background-color: rgba(100, 0, 80, 1);
*/
}

/*Goes underneath Home Page "Wedding Planning" and "Blog Feed" headings*/
.content-overlay {
background-color: rgba(138, 21, 97, 0.50);
}

/*The Color underneath the top and bottom navbar deep purple color */
.pinkBackground-1 {
background-color: rgba(100, 0, 80, 1);	
}

.navbar-nav {
font-family: Arial Black;
color: white;
}

/*Changes the background of the nav menu items*/
.navbar-nav .nav-link {
background-color:transparent;
color: white;
border: none; /*Takes out nav borders.  Leave in for now.*/
}

.navbar-nav a:hover {
color: pink;
text-decoration: none;
}

.navbar-nav.active {
color: blue;
}

ul  {
list-style-type: none;
font-size: 13pt;

}

.navbar-nav li {
	
}

.shareTop{
	
	text-align: center;
	font-size: 13pt;
	margin-left: 0.9em;
}



 p {
	margin-left:0.9em;
}

/*Background behind h1 creating charcoal color*/
.pinkBackground-2 {
 background-color:rgba(0, 0, 30, 0.5);
}

/* Is actually the h1 line and it stretches to the changes to container-2 but effects h1*/
.container-2 {

}



h1 {
	font-family:


}

 h5{
	
} 

 .content-overlay{
 	font-family: ;
 	font-size: 15pt;
 	color: white;
 
 }

h2 {
	font-family: arial black;
 	margin: 0.5em;
	padding-top: 0.5em;
}




h4  {
 	width: 100%;
 	text-align: center;
 	color: pink;
 		
 }

/* Photo Album Area on Home Page*/
 .flex-container{
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: white;
  border:7px solid /*rgba(142, 137, 129, 05)*/ white;
}

.flex-container > div {

  align-content: center;
  width: 150px;
  text-align: center;
  line-height: 200px;
  font-size: 23px;
  margin: 0.8em; 

}

.flex-container h4 {
	padding-top: 0.5em;
	text-align: center;
}

.planning {
	margin: 0.5em;
}

/* "Help with Your Planning" section on the Home Page or on a one-pager style site */
.article1
 /*p.planning*/ {
 	margin: 0;
 	padding-right: 0.3em;

background-color: pink;	
border: 7px solid white/* rgba(142, 137, 129, 05)*/;
}

/*Photo Album section on the Home Page or on a one-pager style site*/
.photoAlbum {
font-family: arial black;
color: pink;
text-align: center;

margin-left: 0.5em;
	margin-right: 0.5em;
	overflow: hidden;
	white-space: wrap;
}

/*This is the paragraph on the Photo Album on the Home page on a multi-page site or the main pg on a one-pager site*/
 .photography {
	color: pink;
	text-align: left;

}
/*Photo Album on Home Page that contains a section photo link for each sub-page on a multi-page site 
or shows an example photo on the Home Page or a one-pager site, of each service offered */
 .photoAlbum > div {
border: 5px solid /* rgba(142, 137, 129, 05)*/ white;

}

/*On Home Page in the Photo Album section for a one-pager or with links to all pages on a multi-pager site */
#cakes {
	background-image: url("https://images.pexels.com/photos/1038711/pexels-photo-1038711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:  center;
	color: white;
	border: 5px solid pink /* rgba(142, 137, 129, 05)*/;
}

p.cakes{
  
  margin: 1em;
}

/*cake page design NewIndex4 file*/
.cake1, .cake2, .cake3, .cake4 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	border: 5px solid pink /*rgba(142, 137, 129, 05)*/;
}

.cake1 {
	background-image: url("https://images.pexels.com/photos/1038711/pexels-photo-1038711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.cake2 {
	background-image: url("https://images.pexels.com/photos/1038711/pexels-photo-1038711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.cake3 {
	background-image: url("https://images.pexels.com/photos/1038711/pexels-photo-1038711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.cake4 {
	background-image: url("https://images.pexels.com/photos/1038711/pexels-photo-1038711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

/*On Home Page in the Photo Album section on a one-pager or with a link to a Photo page on a multi-pager site*/
#flowers {
	background-image: url("https://images.pexels.com/photos/169191/pexels-photo-169191.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:  center;
	color: white;
	border: 5px solid pink /*rgba(142, 137, 129, 05)*/;
}

p.flowers {
  
  margin: 1em;
}

/*Flower design page NewIndex5 file*/
.floral1, .floral2, .floral3, .floral4 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	border: 5px solid pink /*rgba(142, 137, 129, 05)*/;
}

.floral1 {
	background-image: url("https://images.pexels.com/photos/169191/pexels-photo-169191.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.floral2 {
	background-image: url("https://images.pexels.com/photos/169191/pexels-photo-169191.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.floral3 {
	background-image: url("https://images.pexels.com/photos/169191/pexels-photo-169191.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	}

.floral4 {
	background-image: url("https://images.pexels.com/photos/169191/pexels-photo-169191.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

/*On Home Page in the Photo Album section for a one-pager or with a link to a Receptions page on a multi-pager site */
#receptions {
	background-image: url("https://images.pexels.com/photos/1114425/pexels-photo-1114425.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	border: 5px solid pink /*rgba(142, 137, 129, 05)*/;
	color: white;

}


/*On the Reception design page NewIndex6 file */
p.reception {
  
  margin: 1em;
}
/*Reception Page design NewIndex6*/
.reception1, .reception2, .reception3, .reception4 {
	background-size: cover;
	
	background-repeat: no-repeat;
	background-position: right;
	
	border: 5px solid pink /*rgba(142, 137, 129, 05)*/;

}

.reception1 {
	background-image: url("https://images.pexels.com/photos/1114425/pexels-photo-1114425.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.reception2 {
	background-image: url("https://images.pexels.com/photos/1114425/pexels-photo-1114425.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.reception3 {
	background-image: url("https://images.pexels.com/photos/1114425/pexels-photo-1114425.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.reception4 {
	background-image: url("https://images.pexels.com/photos/1114425/pexels-photo-1114425.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

/*On Home Page in the Photo Album section for a one-pager or with a link to a photography page on a multi-pager site*/
#photos {
	background-image: url("https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	border: 5px solid pink /*rgba(142, 137, 129, 05)*/;
}

/* on the Photos design page in NewIndex7 file */
p.photos{
  margin: 1em;
}

.photos {

}

/*Photo Page design page in NewIndex7 file for a multi-pager*/
.photos1, .photos2, .photos3, .photos4 {
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid pink /*rgba(142, 137, 129, 05)*/;
}
.photos1 {
	background-image: url("https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.photos2 {
	background-image: url("https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

}

.photos3 {
	background-image: url("https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

.photos4 {
	background-image: url("https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	
}

 h4 {

	color: white;
	text-align: center;
	
}

/*Home Page Blog side design in the right column */
.blog {
	margin-top: 0.7em;
}
 .article2 {
	background-color: pink;
	padding-right: 0.7em;
	overflow: hidden;
	white-space: wrap;

	border: 7px solid white /* rgba(142, 137, 129, 05)*/;
}

 #gallery img{
 	position: relative;
 	bottom: 10px;
 	right: 10px;
 	display: inline-block;
 	font-style: italic;
 	width: 30%;
 	padding-left: 1.2em;
 	float: left;
 	
 	
 }



.article2 p {


	
}

/*These are the share buttons in the blog articles*/
.article2 h6 {
	font-size: 1em;
	margin-left: 1em;
	font-weight: bold;
}

.article2 h6:hover {
	color: magenta;
	font-weight: bold;
}

.clearfix {
	clear: both;
}
 /*navBottom class has been cut-off but left in place on the html Home Page NewIndex2 file */
/*
.navBottom {
font-size: 0.5em;
list-style-type: none;
font-family: Arial Black;
color: white;
}


.navBottom a:hover {
color: pink;
text-decoration: none;

}
*/


.shareBottom{
  
	text-align: left;
	/*font-size: 13pt;*/ /*Makes no diff if the top nav is 13pt*//*Would like top larger though */
	
}

 
.contact {
	font-family: arial black;
	
	font-size: 10pt;
	
}

.contact h5 {
	font-size: 12pt;
}


.copyright, .copyright p{
font-color: white;
margin: 0;
padding: 0;
padding: 0.3em;
}
/******MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES DO NOT TOUCH ******/

@media (max-width: 284px) {
.row h1 {
		font-size: 2em;
	}

	p {
		overflow-wrap: break-word;

	}
}

@media (max-width: 284px) {

}
@media  (max-width: 450px) {

}
@media (max-width: 600px) {


@media (min-width: 992px) and (max-width: 1199px) {
	.navbar {
	
}



@media (min-width: 1200px) {
.navbar {


}

.content { 
	
 }
}
